<header class="bg-secondary-600 w-full">
  <div class="">
    <div class="">
      <span><img src="" alt="" />Logo</span
      ><span class="font-merri font-semibold">CurioCraze</span>
    </div>
  </div>
</header>
