<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Obycodez">
    <meta name="tags" content="Blog, Learn with Fun,Science, Arts, Phylosophy, Web Development, Software Engineering, Music, Religion, Creativity">
    <title><%= locals.title %></title>
    <meta name = "description" content="<%= locals.description %>">

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/f3dceb1f0b.js" crossorigin="anonymous"></script>

    
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <div class="container">
        <main class="main">

        <%- body %>

        </main>

        <%- include('../partials/footer.ejs') %>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
  ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" defer src="/js/script.js"></script>
</body>
</html>